<?xml version="1.0" encoding="UTF-8" standalone="no"?><application>
	<Default-workspace>C:\Users\Ye Myint Oo\Desktop\TestUML</Default-workspace>
	<Default-project>C:\Users\Ye Myint Oo\Desktop\TestUML\TestXML</Default-project>
	<Select-project>C:\Users\Ye Myint Oo\Desktop\TestUML\HelloWorld</Select-project>
</application>